<a href="https://colab.research.google.com/github/Freaker99/domain-classifier/blob/main/Domain_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![image.png]()

Import Libraries

In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

##Data Collection and Processing

In [87]:
# loading csv data to a Pandas DataFrame
bening_data = pd.read_csv('/content/drive/My Drive/CSV_benign.csv')
malware_data = pd.read_csv('/content/drive/My Drive/CSV_malware.csv')

<ipython-input-87-b21ad4e4e40b>:2: DtypeWarning: Columns (9,10,12,13,17,18,20,21,24,25,27,28,36) have mixed types. Specify dtype option on import or set low_memory=False.
  bening_data = pd.read_csv('/content/drive/My Drive/CSV_benign.csv')

In [88]:
# print first 5 rows in the dataframe
bening_data.head()

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,hex_8,Domain_Name,Alexa_Rank,subdomain,Organization,len,longest_word,oc_32,shortened,1gram,obfuscate_at_sign,entropy,Domain_Age,tld,dec_8,dec_32,Emails,numeric_percentage,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank
0,US,15169.0,46,172.217.1.174,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:49.631067,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0
1,NaN,NaN,299,NaN,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:50.479085,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0
2,NaN,NaN,38,NaN,b'www.google.com.',NaN,NaN,NaN,1997-09-15 04:00:00,0,0,GOOGLE.COM,1.0,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,8256 days 11:53:51.264191,com,0,0,abusecomplaints@markmonitor.com,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor Inc.,google,4.0,-1.0
3,US,15169.0,299,172.217.164.228,b'www.google.com.',NaN,NaN,NaN,NaN,0,0,NaN,NaN,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,NaN,com,0,0,NaN,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",NaN,google,NaN,NaN
4,NaN,NaN,96,NaN,b'facebook.com.',CA,NaN,US,1997-03-29 05:00:00,0,0,FACEBOOK.COM,4.0,0,Facebook inc.,9,facebook,0.0,-1.0,"['f', 'a', 'c', 'e', 'b', 'o', 'o', 'k']",0.0,2.5954888901709436,8426 days 10:53:52.505111,com,0,0,"['abusecomplaints@registrarsafe.com', 'domain@fb.com']",0.0,0,"[('facebook.com', 100), ('qq.com', 86)]",0,"['fac', 'ace', 'ceb', 'ebo', 'boo', 'ook']","defaultdict(<class 'int'>, {'e': 1, 'c': 1, 'o': 2, 'f': 1, 'k': 1, 'a': 1, 'b': 1})","['fa', 'ac', 'ce', 'eb', 'bo', 'oo', 'ok']",RegistrarSafe LLC,facebook,4.0,-1.0

In [89]:
# print last 5 rows in the dataframe
bening_data.tail()

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,hex_8,Domain_Name,Alexa_Rank,subdomain,Organization,len,longest_word,oc_32,shortened,1gram,obfuscate_at_sign,entropy,Domain_Age,tld,dec_8,dec_32,Emails,numeric_percentage,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank
494130,NaN,NaN,298,NaN,b'rossdawson.com.',New South Wales,NaN,AU,2006-02-05 02:21:21,0,0,ROSSDAWSON.COM,876461.0,0.0,Advanced Human Technologies,11,dawson,0,-1.0,"['r', 'o', 's', 's', 'd', 'a', 'w', 's', 'o', 'n']",0,2.530857,5199 days 21:58:00.670791,com,0,0,abuse@godaddy.com,0.0,0.0,"[('apple.com', 86), ('adobe.com', 86)]",0,"['ros', 'oss', 'ssd', 'sda', 'daw', 'aws', 'wso', 'son']","defaultdict(<class 'int'>, {'o': 2, 'r': 1, 'n': 1, 'a': 1, 's': 3, 'w': 1, 'd': 1})","['ro', 'os', 'ss', 'sd', 'da', 'aw', 'ws', 'so', 'on']",GoDaddy.com LLC,rossdawson,2.0,-1.0
494131,DE,8560.0,3599,217.160.0.178,b'weddingprime.de.',NaN,NaN,NaN,NaN,0,0,weddingprime.de,-1.0,0.0,NaN,13,wedding,0,-1.0,"['w', 'e', 'd', 'd', 'i', 'n', 'g', 'p', 'r', 'i', 'm', 'e']",0,2.954252,0,de,0,0,NaN,0.0,0.0,"[('google.de', 86), ('amazon.de', 86)]",0,"['wed', 'edd', 'ddi', 'din', 'ing', 'ngp', 'gpr', 'pri', 'rim', 'ime']","defaultdict(<class 'int'>, {'e': 2, 'i': 2, 'g': 1, 'n': 1, 'm': 1, 'r': 1, 'p': 1, 'w': 1, 'd': 2})","['we', 'ed', 'dd', 'di', 'in', 'ng', 'gp', 'pr', 'ri', 'im', 'me']",NaN,weddingprime,0.0,-1.0
494132,NaN,NaN,3599,NaN,b'weddingprime.de.',NaN,NaN,NaN,NaN,0,0,weddingprime.de,-1.0,0.0,NaN,13,wedding,0,-1.0,"['w', 'e', 'd', 'd', 'i', 'n', 'g', 'p', 'r', 'i', 'm', 'e']",0,2.954252,0,de,0,0,NaN,0.0,0.0,"[('google.de', 86), ('amazon.de', 86)]",0,"['wed', 'edd', 'ddi', 'din', 'ing', 'ngp', 'gpr', 'pri', 'rim', 'ime']","defaultdict(<class 'int'>, {'e': 2, 'i': 2, 'g': 1, 'n': 1, 'm': 1, 'r': 1, 'p': 1, 'w': 1, 'd': 2})","['we', 'ed', 'dd', 'di', 'in', 'ng', 'gp', 'pr', 'ri', 'im', 'me']",NaN,weddingprime,0.0,-1.0
494133,UA,24703.0,21599,195.128.17.206,b'vlasenko.net.',--,NaN,UA,2000-10-16 13:58:43,0,0,"['VLASENKO.NET', 'vlasenko.net']",372895.0,0.0,NaN,9,ko,0,-1.0,"['v', 'l', 'a', 's', 'e', 'n', 'k', 'o']",0,2.817711,7137 days 10:20:41.804934,net,0,0,abuse@joker.com,0.0,0.0,"[('php.net', 86), ('a8.net', 86)]",0,"['vla', 'las', 'ase', 'sen', 'enk', 'nko']","defaultdict(<class 'int'>, {'e': 1, 'k': 1, 'n': 1, 'l': 1, 'v': 1, 'a': 1, 's': 1, 'o': 1})","['vl', 'la', 'as', 'se', 'en', 'nk', 'ko']",CSL Computer Service Langenbach GmbH d/b/a joker.com,vlasenko,6.0,-1.0
494134,AU,24446.0,14399,202.47.4.14,b'drterrencescamp.com.au.',NaN,NaN,NaN,NaN,0,0,NaN,2693696.0,0.0,NaN,16,terrence,0,-1.0,"['d', 'r', 't', 'e', 'r', 'r', 'e', 'n', 'c', 'e', 's', 'c', 'a', 'm', 'p']",0,3.030639,0,com.au,0,0,NaN,0.0,0.0,"[('facebook.com', 86), ('twitter.com', 86)]",0,"['drt', 'rte', 'ter', 'err', 'rre', 'ren', 'enc', 'nce', 'ces', 'esc', 'sca', 'cam', 'amp']","defaultdict(<class 'int'>, {'t': 1, 'e': 3, 'p': 1, 'n': 1, 'm': 1, 'r': 3, 'a': 1, 's': 1, 'c': 2, 'd': 1})","['dr', 'rt', 'te', 'er', 'rr', 're', 'en', 'nc', 'ce', 'es', 'sc', 'ca', 'am', 'mp']",NaN,drterrencescamp,0.0,-1.0

In [90]:
# print first 5 rows in the dataframe
malware_data.head()

,Country,ASN,TTL,IP,Domain,oc_8,longest_word,Domain_Name,dec_32,subdomain,sld,Registrant_Name,hex_32,Domain_Age,entropy,Name_Server_Count,Emails,Creation_Date_Time,Organization,char_distribution,2gram,State,oc_32,Country.1,Page_Rank,hex_8,dec_8,1gram,len,typos,tld,shortened,Registrar,obfuscate_at_sign,Alexa_Rank,3gram,numeric_percentage,puny_coded
0,US,26347.0,14399,67.205.14.183,b'dicrophani.com.',0,hani,DICROPHANI.COM,0,0,dicrophani,NaN,0,4277 days 21:07:56.450015,2.963120,6.0,"['abuse@name.com', 'roxics@gmail.com']",2008-08-04 04:20:05,Scape Films,"defaultdict(<class 'int'>, {'d': 1, 'n': 1, 'a': 1, 'i': 2, 'r': 1, 'h': 1, 'c': 1, 'o': 1, 'p': 1})","['di', 'ic', 'cr', 'ro', 'op', 'ph', 'ha', 'an', 'ni']",MI,0,US,-1.0,0,0,"['d', 'i', 'c', 'r', 'o', 'p', 'h', 'a', 'n', 'i']",11,"[('apple.com', 86), ('adobe.com', 86)]",com,-1.0,Name.com inc.,0,-1.0,"['dic', 'icr', 'cro', 'rop', 'oph', 'pha', 'han', 'ani']",0.000000,0
1,US,46606.0,14399,70.40.220.126,b'dionneg.com.',0,dio,DIONNEG.COM,0,0,dionneg,NaN,0,4596 days 7:06:33.492321,2.375000,2.0,"['support@bluehost.com', 'GORDONDN@HOTMAIL.COM', 'DOMAIN@REDL.CA']",2007-09-20 18:21:29,NaN,"defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'g': 1, 'i': 1, 'e': 1, 'o': 1})","['di', 'io', 'on', 'nn', 'ne', 'eg']",CALIFORNIA,0,US,-1.0,0,0,"['d', 'i', 'o', 'n', 'n', 'e', 'g']",8,"[('g.co', 90), ('qq.com', 86)]",com,-1.0,FastDomain Inc.,0,-1.0,"['dio', 'ion', 'onn', 'nne', 'neg']",0.000000,0
2,US,16509.0,3599,15.164.151.80,b'vipprojects.cn.',0,projects,vipprojects.cn,0,0,vipprojects,NaN,0,2457 days 14:55:14.742716,3.119549,2.0,work@marksmile.com,2013-07-29 10:32:49,NaN,"defaultdict(<class 'int'>, {'v': 1, 'c': 1, 'j': 1, 'i': 1, 'r': 1, 't': 1, 's': 1, 'e': 1, 'o': 1, 'p': 2})","['vi', 'ip', 'pp', 'pr', 'ro', 'oj', 'je', 'ec', 'ct', 'ts']",NaN,0,NaN,-1.0,0,0,"['v', 'i', 'p', 'p', 'r', 'o', 'j', 'e', 'c', 't', 's']",12,"[('4.cn', 86), ('360.cn', 86)]",cn,-1.0,,0,-1.0,"['vip', 'ipp', 'ppr', 'pro', 'roj', 'oje', 'jec', 'ect', 'cts']",0.000000,0
3,US,395954.0,599,23.110.187.67,b'hhj3.cn.',0,hh,hhj3.cn,0,0,hhj3,NaN,0,590 days 10:04:04.890200,1.457542,2.0,yedaofeng0022@126.com,2018-09-08 15:24:00,NaN,"defaultdict(<class 'int'>, {'h': 2, '3': 1, 'j': 1})","['hh', 'hj', 'j3']",NaN,0,NaN,-1.0,0,0,"['h', 'h', 'j', '3']",5,"[('miitbeian.gov.cn', 86), ('miibeian.gov.cn', 86)]",cn,-1.0,,0,-1.0,"['hhj', 'hj3']",11.111111,0
4,US,395954.0,599,23.110.187.67,b'hhj3.cn.',0,hh,hhj3.cn,0,0,hhj3,NaN,0,590 days 10:04:06.211003,1.457542,2.0,yedaofeng0022@126.com,2018-09-08 15:24:00,NaN,"defaultdict(<class 'int'>, {'h': 2, '3': 1, 'j': 1})","['hh', 'hj', 'j3']",NaN,0,NaN,-1.0,0,0,"['h', 'h', 'j', '3']",5,"[('miitbeian.gov.cn', 86), ('miibeian.gov.cn', 86)]",cn,-1.0,,0,-1.0,"['hhj', 'hj3']",11.111111,0

In [91]:
# print last 5 rows of the dataframe
malware_data.tail()

,Country,ASN,TTL,IP,Domain,oc_8,longest_word,Domain_Name,dec_32,subdomain,sld,Registrant_Name,hex_32,Domain_Age,entropy,Name_Server_Count,Emails,Creation_Date_Time,Organization,char_distribution,2gram,State,oc_32,Country.1,Page_Rank,hex_8,dec_8,1gram,len,typos,tld,shortened,Registrar,obfuscate_at_sign,Alexa_Rank,3gram,numeric_percentage,puny_coded
4994,DE,24940.0,14399,148.251.70.130,b'naveenmechanical.com.',0,mechanical,NaN,0,0,naveenmechanical,NaN,0,NaN,2.890279,NaN,NaN,NaN,NaN,"defaultdict(<class 'int'>, {'v': 1, 'n': 3, 'e': 3, 'i': 1, 'm': 1, 'h': 1, 'a': 3, 'c': 2, 'l': 1})","['na', 'av', 've', 'ee', 'en', 'nm', 'me', 'ec', 'ch', 'ha', 'an', 'ni', 'ic', 'ca', 'al']",NaN,0,NaN,NaN,0,0,"['n', 'a', 'v', 'e', 'e', 'n', 'm', 'e', 'c', 'h', 'a', 'n', 'i', 'c', 'a', 'l']",17,"[('facebook.com', 86), ('twitter.com', 86)]",com,-1.0,NaN,0,NaN,"['nav', 'ave', 'vee', 'een', 'enm', 'nme', 'mec', 'ech', 'cha', 'han', 'ani', 'nic', 'ica', 'cal']",0.000000,0
4995,NL,204915.0,3599,145.14.145.85,b'onlinefrepdfviewer.000webhostapp.com.',0,p,000WEBHOSTAPP.COM,0,1,000webhostapp,NaN,0,1440 days 14:10:23.343224,3.808768,4.0,"['abuse@hostinger.com', 'gdpr-masking@gdpr-masked.com']",2016-05-11 13:34:12,GDPR Masked,"defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'r': 2, 'w': 2, 'a': 1, 'l': 1, 'v': 1, 't': 1, 'i': 2, 'b': 1, 's': 1, 'h': 1, 'e': 5, 'o': 2, '0': 3, 'p': 3, 'f': 2})","['00', '00', '0w', 'we', 'eb', 'bh', 'ho', 'os', 'st', 'ta', 'ap', 'pp']",Larnaka,0,CY,-1.0,0,0,"['0', '0', '0', 'w', 'e', 'b', 'h', 'o', 's', 't', 'a', 'p', 'p']",32,"[('twitter.com', 86), ('google.com', 86)]",com,-1.0,Hostinger UAB,0,3851.0,"['000', '00w', '0we', 'web', 'ebh', 'bho', 'hos', 'ost', 'sta', 'tap', 'app']",7.894737,0
4996,NaN,NaN,3599,NaN,b'onlinefrepdfviewer.000webhostapp.com.',0,p,000WEBHOSTAPP.COM,0,1,000webhostapp,NaN,0,1440 days 14:10:24.246772,3.808768,4.0,"['abuse@hostinger.com', 'gdpr-masking@gdpr-masked.com']",2016-05-11 13:34:12,GDPR Masked,"defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'r': 2, 'w': 2, 'a': 1, 'l': 1, 'v': 1, 't': 1, 'i': 2, 'b': 1, 's': 1, 'h': 1, 'e': 5, 'o': 2, '0': 3, 'p': 3, 'f': 2})","['00', '00', '0w', 'we', 'eb', 'bh', 'ho', 'os', 'st', 'ta', 'ap', 'pp']",Larnaka,0,CY,-1.0,0,0,"['0', '0', '0', 'w', 'e', 'b', 'h', 'o', 's', 't', 'a', 'p', 'p']",32,"[('twitter.com', 86), ('google.com', 86)]",com,-1.0,Hostinger UAB,0,3851.0,"['000', '00w', '0we', 'web', 'ebh', 'bho', 'hos', 'ost', 'sta', 'tap', 'app']",7.894737,0
4997,DE,8767.0,1799,62.245.182.18,b'stefanie-bolemant.de.',0,stefanie,stefanie-bolemant.de,0,0,stefanie-bolemant,NaN,0,0,3.340769,0.0,NaN,NaN,NaN,"defaultdict(<class 'int'>, {'-': 1, 'n': 2, 'm': 1, 'a': 2, 'l': 1, 't': 2, 'i': 1, 'b': 1, 's': 1, 'e': 3, 'o': 1, 'f': 1})","['st', 'te', 'ef', 'fa', 'an', 'ni', 'ie', 'e-', '-b', 'bo', 'ol', 'le', 'em', 'ma', 'an', 'nt']",NaN,0,NaN,-1.0,0,0,"['s', 't', 'e', 'f', 'a', 'n', 'i', 'e', '-', 'b', 'o', 'l', 'e', 'm', 'a', 'n', 't']",18,"[('google.de', 86), ('e-recht24.de', 86)]",de,-1.0,NaN,0,-1.0,"['ste', 'tef', 'efa', 'fan', 'ani', 'nie', 'ie-', 'e-b', '-bo', 'bol', 'ole', 'lem', 'ema', 'man', 'ant']",0.000000,0
4998,DE,8767.0,1799,62.245.182.48,b'web.asamnet.de.',0,mnet,asamnet.de,0,1,asamnet,NaN,0,0,2.781301,0.0,NaN,NaN,NaN,"defaultdict(<class 'int'>, {'t': 1, 'n': 1, 'a': 2, 'm': 1, 's': 1, 'b': 1, 'w': 1, 'e': 2})","['as', 'sa', 'am', 'mn', 'ne', 'et']",NaN,0,NaN,-1.0,0,0,"['a', 's', 'a', 'm', 'n', 'e', 't']",11,"[('gesetze-im-internet.de', 86), ('web.de', 86)]",de,-1.0,NaN,0,5004230.0,"['asa', 'sam', 'amn', 'mne', 'net']",0.000000,0

In [92]:
# number of rows and columns
bening_data.shape

(494135, 38)

In [93]:
# number of rows and columns
malware_data.shape

(4999, 38)

In [94]:
# add labels
bening_data['Label'] = 0
malware_data['Label'] = 1

In [95]:
# display all columns
pd.set_option('display.max_columns', None)

In [96]:
# print first 5 rows in the labeled dataframe
bening_data.head()

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,hex_8,Domain_Name,Alexa_Rank,subdomain,Organization,len,longest_word,oc_32,shortened,1gram,obfuscate_at_sign,entropy,Domain_Age,tld,dec_8,dec_32,Emails,numeric_percentage,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank,Label
0,US,15169.0,46,172.217.1.174,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:49.631067,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0,0
1,NaN,NaN,299,NaN,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:50.479085,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0,0
2,NaN,NaN,38,NaN,b'www.google.com.',NaN,NaN,NaN,1997-09-15 04:00:00,0,0,GOOGLE.COM,1.0,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,8256 days 11:53:51.264191,com,0,0,abusecomplaints@markmonitor.com,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor Inc.,google,4.0,-1.0,0
3,US,15169.0,299,172.217.164.228,b'www.google.com.',NaN,NaN,NaN,NaN,0,0,NaN,NaN,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,NaN,com,0,0,NaN,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",NaN,google,NaN,NaN,0
4,NaN,NaN,96,NaN,b'facebook.com.',CA,NaN,US,1997-03-29 05:00:00,0,0,FACEBOOK.COM,4.0,0,Facebook inc.,9,facebook,0.0,-1.0,"['f', 'a', 'c', 'e', 'b', 'o', 'o', 'k']",0.0,2.5954888901709436,8426 days 10:53:52.505111,com,0,0,"['abusecomplaints@registrarsafe.com', 'domain@fb.com']",0.0,0,"[('facebook.com', 100), ('qq.com', 86)]",0,"['fac', 'ace', 'ceb', 'ebo', 'boo', 'ook']","defaultdict(<class 'int'>, {'e': 1, 'c': 1, 'o': 2, 'f': 1, 'k': 1, 'a': 1, 'b': 1})","['fa', 'ac', 'ce', 'eb', 'bo', 'oo', 'ok']",RegistrarSafe LLC,facebook,4.0,-1.0,0

In [97]:
# print first 5 rows in the labeled dataframe
malware_data.head()

,Country,ASN,TTL,IP,Domain,oc_8,longest_word,Domain_Name,dec_32,subdomain,sld,Registrant_Name,hex_32,Domain_Age,entropy,Name_Server_Count,Emails,Creation_Date_Time,Organization,char_distribution,2gram,State,oc_32,Country.1,Page_Rank,hex_8,dec_8,1gram,len,typos,tld,shortened,Registrar,obfuscate_at_sign,Alexa_Rank,3gram,numeric_percentage,puny_coded,Label
0,US,26347.0,14399,67.205.14.183,b'dicrophani.com.',0,hani,DICROPHANI.COM,0,0,dicrophani,NaN,0,4277 days 21:07:56.450015,2.963120,6.0,"['abuse@name.com', 'roxics@gmail.com']",2008-08-04 04:20:05,Scape Films,"defaultdict(<class 'int'>, {'d': 1, 'n': 1, 'a': 1, 'i': 2, 'r': 1, 'h': 1, 'c': 1, 'o': 1, 'p': 1})","['di', 'ic', 'cr', 'ro', 'op', 'ph', 'ha', 'an', 'ni']",MI,0,US,-1.0,0,0,"['d', 'i', 'c', 'r', 'o', 'p', 'h', 'a', 'n', 'i']",11,"[('apple.com', 86), ('adobe.com', 86)]",com,-1.0,Name.com inc.,0,-1.0,"['dic', 'icr', 'cro', 'rop', 'oph', 'pha', 'han', 'ani']",0.000000,0,1
1,US,46606.0,14399,70.40.220.126,b'dionneg.com.',0,dio,DIONNEG.COM,0,0,dionneg,NaN,0,4596 days 7:06:33.492321,2.375000,2.0,"['support@bluehost.com', 'GORDONDN@HOTMAIL.COM', 'DOMAIN@REDL.CA']",2007-09-20 18:21:29,NaN,"defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'g': 1, 'i': 1, 'e': 1, 'o': 1})","['di', 'io', 'on', 'nn', 'ne', 'eg']",CALIFORNIA,0,US,-1.0,0,0,"['d', 'i', 'o', 'n', 'n', 'e', 'g']",8,"[('g.co', 90), ('qq.com', 86)]",com,-1.0,FastDomain Inc.,0,-1.0,"['dio', 'ion', 'onn', 'nne', 'neg']",0.000000,0,1
2,US,16509.0,3599,15.164.151.80,b'vipprojects.cn.',0,projects,vipprojects.cn,0,0,vipprojects,NaN,0,2457 days 14:55:14.742716,3.119549,2.0,work@marksmile.com,2013-07-29 10:32:49,NaN,"defaultdict(<class 'int'>, {'v': 1, 'c': 1, 'j': 1, 'i': 1, 'r': 1, 't': 1, 's': 1, 'e': 1, 'o': 1, 'p': 2})","['vi', 'ip', 'pp', 'pr', 'ro', 'oj', 'je', 'ec', 'ct', 'ts']",NaN,0,NaN,-1.0,0,0,"['v', 'i', 'p', 'p', 'r', 'o', 'j', 'e', 'c', 't', 's']",12,"[('4.cn', 86), ('360.cn', 86)]",cn,-1.0,,0,-1.0,"['vip', 'ipp', 'ppr', 'pro', 'roj', 'oje', 'jec', 'ect', 'cts']",0.000000,0,1
3,US,395954.0,599,23.110.187.67,b'hhj3.cn.',0,hh,hhj3.cn,0,0,hhj3,NaN,0,590 days 10:04:04.890200,1.457542,2.0,yedaofeng0022@126.com,2018-09-08 15:24:00,NaN,"defaultdict(<class 'int'>, {'h': 2, '3': 1, 'j': 1})","['hh', 'hj', 'j3']",NaN,0,NaN,-1.0,0,0,"['h', 'h', 'j', '3']",5,"[('miitbeian.gov.cn', 86), ('miibeian.gov.cn', 86)]",cn,-1.0,,0,-1.0,"['hhj', 'hj3']",11.111111,0,1
4,US,395954.0,599,23.110.187.67,b'hhj3.cn.',0,hh,hhj3.cn,0,0,hhj3,NaN,0,590 days 10:04:06.211003,1.457542,2.0,yedaofeng0022@126.com,2018-09-08 15:24:00,NaN,"defaultdict(<class 'int'>, {'h': 2, '3': 1, 'j': 1})","['hh', 'hj', 'j3']",NaN,0,NaN,-1.0,0,0,"['h', 'h', 'j', '3']",5,"[('miitbeian.gov.cn', 86), ('miibeian.gov.cn', 86)]",cn,-1.0,,0,-1.0,"['hhj', 'hj3']",11.111111,0,1

In [98]:
# check whether the columns in both csv files are the same

# grab labels from bening_data
bening_labels = set(bening_data.columns)

# grab labels from malware_data
malware_labels = set(malware_data.columns)

# compare elements in bening_labels with malware_labels
unique_in_bening = bening_labels - malware_labels
unique_in_malware = malware_labels - bening_labels

# check if there are no unique elements in either set
if not unique_in_bening and not unique_in_malware:
    print("Every element in bening_labels has a counterpart in malware_labels.")
else:
    # print unique elements in bening_labels that do not appear in malware_labels
    print("The following unique elements in bening_labels do not appear in malware_labels:")
    for label in unique_in_bening:
        print(label)
    # print unique elements in malware_labels that do not appear in bening_labels
    print("The following unique elements in malware_labels do not appear in bening_labels:")
    for label in unique_in_malware:
        print(label)
# find common labels between both lists
common_labels = bening_labels.intersection(malware_labels)

Every element in bening_labels has a counterpart in malware_labels.

In [99]:
# display all labels from both csv files

bening_labels = list(bening_data.columns)
print(bening_labels)

malware_labels = list(malware_data.columns)
print(malware_labels)

['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name', 'Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name', 'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word', 'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy', 'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage', 'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram', 'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank', 'Label']
['Country', 'ASN', 'TTL', 'IP', 'Domain', 'oc_8', 'longest_word', 'Domain_Name', 'dec_32', 'subdomain', 'sld', 'Registrant_Name', 'hex_32', 'Domain_Age', 'entropy', 'Name_Server_Count', 'Emails', 'Creation_Date_Time', 'Organization', 'char_distribution', '2gram', 'State', 'oc_32', 'Country.1', 'Page_Rank', 'hex_8', 'dec_8', '1gram', 'len', 'typos', 'tld', 'shortened', 'Registrar', 'obfuscate_at_sign', 'Alexa_Rank', '3gram', 'numeric_percentage', 'puny_coded', 'Label']

In [100]:
# sort columns of malware_data based on the order in the bening_data
malware_data_reordered = malware_data[bening_labels]

In [101]:
# check if sorting operation worked

print(bening_labels)

malware_labels_reordered = list(malware_data_reordered.columns)
print(malware_labels_reordered)

['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name', 'Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name', 'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word', 'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy', 'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage', 'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram', 'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank', 'Label']
['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name', 'Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name', 'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word', 'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy', 'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage', 'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram', 'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank', 'Label']

In [102]:
# merge two matrixes
combined_data = pd.concat([bening_data, malware_data_reordered], ignore_index=True)

In [103]:
# check shape
combined_data.shape

(499134, 39)

In [104]:
# print first 5 rows in the labeled dataframe
combined_data.head()

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,hex_8,Domain_Name,Alexa_Rank,subdomain,Organization,len,longest_word,oc_32,shortened,1gram,obfuscate_at_sign,entropy,Domain_Age,tld,dec_8,dec_32,Emails,numeric_percentage,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank,Label
0,US,15169.0,46,172.217.1.174,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:49.631067,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0,0
1,NaN,NaN,299,NaN,b'google.com.',CA,NaN,US,1997-09-15 04:00:00,0,0,"['GOOGLE.COM', 'google.com']",1.0,0,Google LLC,7,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,1.8348756474779464,8256 days 11:53:50.479085,com,0,0,"['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']",0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor inc.,google,8.0,-1.0,0
2,NaN,NaN,38,NaN,b'www.google.com.',NaN,NaN,NaN,1997-09-15 04:00:00,0,0,GOOGLE.COM,1.0,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,8256 days 11:53:51.264191,com,0,0,abusecomplaints@markmonitor.com,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",MarkMonitor Inc.,google,4.0,-1.0,0
3,US,15169.0,299,172.217.164.228,b'www.google.com.',NaN,NaN,NaN,NaN,0,0,NaN,NaN,1,NaN,10,google,0.0,-1.0,"['g', 'o', 'o', 'g', 'l', 'e']",0.0,2.1142465351822795,NaN,com,0,0,NaN,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,"['goo', 'oog', 'ogl', 'gle']","defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})","['go', 'oo', 'og', 'gl', 'le']",NaN,google,NaN,NaN,0
4,NaN,NaN,96,NaN,b'facebook.com.',CA,NaN,US,1997-03-29 05:00:00,0,0,FACEBOOK.COM,4.0,0,Facebook inc.,9,facebook,0.0,-1.0,"['f', 'a', 'c', 'e', 'b', 'o', 'o', 'k']",0.0,2.5954888901709436,8426 days 10:53:52.505111,com,0,0,"['abusecomplaints@registrarsafe.com', 'domain@fb.com']",0.0,0,"[('facebook.com', 100), ('qq.com', 86)]",0,"['fac', 'ace', 'ceb', 'ebo', 'boo', 'ook']","defaultdict(<class 'int'>, {'e': 1, 'c': 1, 'o': 2, 'f': 1, 'k': 1, 'a': 1, 'b': 1})","['fa', 'ac', 'ce', 'eb', 'bo', 'oo', 'ok']",RegistrarSafe LLC,facebook,4.0,-1.0,0

In [105]:
# print last 5 rows in the labeled dataframe
combined_data.tail()

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,hex_8,Domain_Name,Alexa_Rank,subdomain,Organization,len,longest_word,oc_32,shortened,1gram,obfuscate_at_sign,entropy,Domain_Age,tld,dec_8,dec_32,Emails,numeric_percentage,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank,Label
499129,DE,24940.0,14399,148.251.70.130,b'naveenmechanical.com.',NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,NaN,17,mechanical,0,-1.0,"['n', 'a', 'v', 'e', 'e', 'n', 'm', 'e', 'c', 'h', 'a', 'n', 'i', 'c', 'a', 'l']",0,2.890279,NaN,com,0,0,NaN,0.0,0,"[('facebook.com', 86), ('twitter.com', 86)]",0,"['nav', 'ave', 'vee', 'een', 'enm', 'nme', 'mec', 'ech', 'cha', 'han', 'ani', 'nic', 'ica', 'cal']","defaultdict(<class 'int'>, {'v': 1, 'n': 3, 'e': 3, 'i': 1, 'm': 1, 'h': 1, 'a': 3, 'c': 2, 'l': 1})","['na', 'av', 've', 'ee', 'en', 'nm', 'me', 'ec', 'ch', 'ha', 'an', 'ni', 'ic', 'ca', 'al']",NaN,naveenmechanical,NaN,NaN,1
499130,NL,204915.0,3599,145.14.145.85,b'onlinefrepdfviewer.000webhostapp.com.',Larnaka,NaN,CY,2016-05-11 13:34:12,0,0,000WEBHOSTAPP.COM,3851.0,1,GDPR Masked,32,p,0,-1.0,"['0', '0', '0', 'w', 'e', 'b', 'h', 'o', 's', 't', 'a', 'p', 'p']",0,3.808768,1440 days 14:10:23.343224,com,0,0,"['abuse@hostinger.com', 'gdpr-masking@gdpr-masked.com']",7.894737,0,"[('twitter.com', 86), ('google.com', 86)]",0,"['000', '00w', '0we', 'web', 'ebh', 'bho', 'hos', 'ost', 'sta', 'tap', 'app']","defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'r': 2, 'w': 2, 'a': 1, 'l': 1, 'v': 1, 't': 1, 'i': 2, 'b': 1, 's': 1, 'h': 1, 'e': 5, 'o': 2, '0': 3, 'p': 3, 'f': 2})","['00', '00', '0w', 'we', 'eb', 'bh', 'ho', 'os', 'st', 'ta', 'ap', 'pp']",Hostinger UAB,000webhostapp,4.0,-1.0,1
499131,NaN,NaN,3599,NaN,b'onlinefrepdfviewer.000webhostapp.com.',Larnaka,NaN,CY,2016-05-11 13:34:12,0,0,000WEBHOSTAPP.COM,3851.0,1,GDPR Masked,32,p,0,-1.0,"['0', '0', '0', 'w', 'e', 'b', 'h', 'o', 's', 't', 'a', 'p', 'p']",0,3.808768,1440 days 14:10:24.246772,com,0,0,"['abuse@hostinger.com', 'gdpr-masking@gdpr-masked.com']",7.894737,0,"[('twitter.com', 86), ('google.com', 86)]",0,"['000', '00w', '0we', 'web', 'ebh', 'bho', 'hos', 'ost', 'sta', 'tap', 'app']","defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'r': 2, 'w': 2, 'a': 1, 'l': 1, 'v': 1, 't': 1, 'i': 2, 'b': 1, 's': 1, 'h': 1, 'e': 5, 'o': 2, '0': 3, 'p': 3, 'f': 2})","['00', '00', '0w', 'we', 'eb', 'bh', 'ho', 'os', 'st', 'ta', 'ap', 'pp']",Hostinger UAB,000webhostapp,4.0,-1.0,1
499132,DE,8767.0,1799,62.245.182.18,b'stefanie-bolemant.de.',NaN,NaN,NaN,NaN,0,0,stefanie-bolemant.de,-1.0,0,NaN,18,stefanie,0,-1.0,"['s', 't', 'e', 'f', 'a', 'n', 'i', 'e', '-', 'b', 'o', 'l', 'e', 'm', 'a', 'n', 't']",0,3.340769,0,de,0,0,NaN,0.0,0,"[('google.de', 86), ('e-recht24.de', 86)]",0,"['ste', 'tef', 'efa', 'fan', 'ani', 'nie', 'ie-', 'e-b', '-bo', 'bol', 'ole', 'lem', 'ema', 'man', 'ant']","defaultdict(<class 'int'>, {'-': 1, 'n': 2, 'm': 1, 'a': 2, 'l': 1, 't': 2, 'i': 1, 'b': 1, 's': 1, 'e': 3, 'o': 1, 'f': 1})","['st', 'te', 'ef', 'fa', 'an', 'ni', 'ie', 'e-', '-b', 'bo', 'ol', 'le', 'em', 'ma', 'an', 'nt']",NaN,stefanie-bolemant,0.0,-1.0,1
499133,DE,8767.0,1799,62.245.182.48,b'web.asamnet.de.',NaN,NaN,NaN,NaN,0,0,asamnet.de,5004230.0,1,NaN,11,mnet,0,-1.0,"['a', 's', 'a', 'm', 'n', 'e', 't']",0,2.781301,0,de,0,0,NaN,0.0,0,"[('gesetze-im-internet.de', 86), ('web.de', 86)]",0,"['asa', 'sam', 'amn', 'mne', 'net']","defaultdict(<class 'int'>, {'t': 1, 'n': 1, 'a': 2, 'm': 1, 's': 1, 'b': 1, 'w': 1, 'e': 2})","['as', 'sa', 'am', 'mn', 'ne', 'et']",NaN,asamnet,0.0,-1.0,1

In [106]:
# getting basic informations about the data
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499134 entries, 0 to 499133
Data columns (total 39 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             389247 non-null  object
 1   ASN                 389304 non-null  float64
 2   TTL                 499134 non-null  object
 3   IP                  390538 non-null  object
 4   Domain              499134 non-null  object
 5   State               220137 non-null  object
 6   Registrant_Name     13710 non-null   object
 7   Country.1           256983 non-null  object
 8   Creation_Date_Time  366046 non-null  object
 9   hex_32              499011 non-null  object
 10  hex_8               499134 non-null  object
 11  Domain_Name         401406 non-null  object
 12  Alexa_Rank          444716 non-null  object
 13  subdomain           499118 non-null  object
 14  Organization        204029 non-null  object
 15  len                 498776 non-null  object
 16  longest_word        499001 non-null  object
 17  oc_32               499131 non-null  object
 18  shortened           497789 non-null  object
 19  1gram               499112 non-null  object
 20  obfuscate_at_sign   499134 non-null  object
 21  entropy             499130 non-null  object
 22  Domain_Age          444720 non-null  object
 23  tld                 499131 non-null  object
 24  dec_8               499124 non-null  object
 25  dec_32              499040 non-null  object
 26  Emails              326900 non-null  object
 27  numeric_percentage  498345 non-null  object
 28  puny_coded          499134 non-null  object
 29  typos               499134 non-null  object
 30  oc_8                499134 non-null  object
 31  3gram               499134 non-null  object
 32  char_distribution   499134 non-null  object
 33  2gram               498947 non-null  object
 34  Registrar           357895 non-null  object
 35  sld                 497805 non-null  object
 36  Name_Server_Count   444680 non-null  object
 37  Page_Rank           444217 non-null  float64
 38  Label               499134 non-null  int64
dtypes: float64(2), int64(1), object(36)
memory usage: 148.5+ MB

In [107]:
# checking the number of missing fields for each column
combined_data.isnull().sum()

Country               109887
ASN                   109830
TTL                        0
IP                    108596
Domain                     0
State                 278997
Registrant_Name       485424
Country.1             242151
Creation_Date_Time    133088
hex_32                   123
hex_8                      0
Domain_Name            97728
Alexa_Rank             54418
subdomain                 16
Organization          295105
len                      358
longest_word             133
oc_32                      3
shortened               1345
1gram                     22
obfuscate_at_sign          0
entropy                    4
Domain_Age             54414
tld                        3
dec_8                     10
dec_32                    94
Emails                172234
numeric_percentage       789
puny_coded                 0
typos                      0
oc_8                       0
3gram                      0
char_distribution          0
2gram                    187
Registrar             141239
sld                     1329
Name_Server_Count      54454
Page_Rank              54917
Label                      0
dtype: int64

In [108]:
# checking the number of missing fields for each column
bening_data.isnull().sum()

Country               108941
ASN                   108886
TTL                        0
IP                    107695
Domain                     0
State                 276630
Registrant_Name       480498
Country.1             240042
Creation_Date_Time    131913
hex_32                   123
hex_8                      0
Domain_Name            96697
Alexa_Rank             53847
subdomain                 16
Organization          292389
len                      358
longest_word             133
oc_32                      3
shortened               1284
1gram                     22
obfuscate_at_sign          0
entropy                    4
Domain_Age             53843
tld                        3
dec_8                     10
dec_32                    94
Emails                170612
numeric_percentage       789
puny_coded                 0
typos                      0
oc_8                       0
3gram                      0
char_distribution          0
2gram                    187
Registrar             139933
sld                     1329
Name_Server_Count      53883
Page_Rank              54346
Label                      0
dtype: int64

In [109]:
# checking the number of missing fields for each column
malware_data.isnull().sum()

Country                946
ASN                    944
TTL                      0
IP                     901
Domain                   0
oc_8                     0
longest_word             0
Domain_Name           1031
dec_32                   0
subdomain                0
sld                      0
Registrant_Name       4926
hex_32                   0
Domain_Age             571
entropy                  0
Name_Server_Count      571
Emails                1622
Creation_Date_Time    1175
Organization          2716
char_distribution        0
2gram                    0
State                 2367
oc_32                    0
Country.1             2109
Page_Rank              571
hex_8                    0
dec_8                    0
1gram                    0
len                      0
typos                    0
tld                      0
shortened               61
Registrar             1306
obfuscate_at_sign        0
Alexa_Rank             571
3gram                    0
numeric_percentage       0
puny_coded               0
Label                    0
dtype: int64

In [110]:
# calculate the percent of missing fields in each column
missing_percentage = (combined_data.isnull().sum() / len(combined_data)) * 100

# create DataFrame with results
missing_data = pd.DataFrame({'Percentage of missing fields': missing_percentage})

# rounding of results to one decimal place
missing_data['Percentage of missing fields'] = missing_data['Percentage of missing fields'].round(1)

# sorting the results in descending order
missing_data = missing_data.sort_values(by='Percentage of missing fields', ascending=False)

# display results
print(missing_data)

                    Percentage of missing fields
Registrant_Name                             97.3
Organization                                59.1
State                                       55.9
Country.1                                   48.5
Emails                                      34.5
Registrar                                   28.3
Creation_Date_Time                          26.7
Country                                     22.0
ASN                                         22.0
IP                                          21.8
Domain_Name                                 19.6
Page_Rank                                   11.0
Domain_Age                                  10.9
Alexa_Rank                                  10.9
Name_Server_Count                           10.9
shortened                                    0.3
sld                                          0.3
numeric_percentage                           0.2
len                                          0.1
2gram                                        0.0
char_distribution                            0.0
3gram                                        0.0
oc_8                                         0.0
typos                                        0.0
puny_coded                                   0.0
1gram                                        0.0
dec_32                                       0.0
dec_8                                        0.0
tld                                          0.0
entropy                                      0.0
obfuscate_at_sign                            0.0
oc_32                                        0.0
longest_word                                 0.0
subdomain                                    0.0
hex_8                                        0.0
hex_32                                       0.0
Domain                                       0.0
TTL                                          0.0
Label                                        0.0

#Missing data in bening (bening_data_labeled):
The columns such as "Registrant_Name", "Organization", "State", "Country.1", "Emails", "Registrar", "Creation_Date_Time", "Country", "ASN", "IP", "Domain_Name", "Page_Rank", "Domain_Age", "Alexa_Rank" and "Name_Server_Count"  have a percentage of missing data bigger than 10%, which means that these columns may not be useful for model training. We can consider them for removal.
Other columns such as "Country," "ASN," "IP," "Creation_Date_Time," etc. have missing data, but to a lesser extent. We can consider whether we want to fill in the missing data (for example, the mean or median) or remove rows with missing data, depending on the impact of these columns on the model.

#Missing data in malware (malware_data_labeled):
The columns "Registrant_Name," "Organization," "State," "Country.1" and "Emails" also have a high percentage of missing data and may be considered for deletion.
As with bening, other columns have small amounts of missing data that can be filled in or deleted.

I decided to...

In [111]:
# Lista kolumn do usunicia
columns_to_remove = [
    'Registrant_Name', 'Organization', 'State', 'Country.1',
    'Emails', 'Registrar', 'Creation_Date_Time', 'Country',
    'ASN', 'IP', 'Domain_Name', 'Page_Rank', 'Name_Server_Count',
    'Domain_Age', 'Alexa_Rank', '1gram', '2gram', '3gram', 'char_distribution'
]

# Usuwanie kolumn z bening_data
combined_data = combined_data.drop(columns=columns_to_remove)

In [112]:
# checking the number of missing values
combined_data.isnull().sum()

TTL                      0
Domain                   0
hex_32                 123
hex_8                    0
subdomain               16
len                    358
longest_word           133
oc_32                    3
shortened             1345
obfuscate_at_sign        0
entropy                  4
tld                      3
dec_8                   10
dec_32                  94
numeric_percentage     789
puny_coded               0
typos                    0
oc_8                     0
sld                   1329
Label                    0
dtype: int64

In [113]:
# Usunicie wierszy z brakujcymi danymi w dowolnej kolumnie
combined_data_without_nan = combined_data.dropna()

In [114]:
# checking the number of missing values
combined_data_without_nan.isnull().sum()

TTL                   0
Domain                0
hex_32                0
hex_8                 0
subdomain             0
len                   0
longest_word          0
oc_32                 0
shortened             0
obfuscate_at_sign     0
entropy               0
tld                   0
dec_8                 0
dec_32                0
numeric_percentage    0
puny_coded            0
typos                 0
oc_8                  0
sld                   0
Label                 0
dtype: int64

In [115]:
combined_data_without_nan.shape

(495506, 20)

In [140]:
combined_data_without_nan.head()

,TTL,Domain,hex_32,hex_8,subdomain,len,longest_word,oc_32,shortened,obfuscate_at_sign,entropy,tld,dec_8,dec_32,numeric_percentage,puny_coded,typos,oc_8,sld,Label
0,46,b'google.com.',0,0,0,7,google,0.0,-1.0,0.0,1.8348756474779464,com,0,0,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,google,0
1,299,b'google.com.',0,0,0,7,google,0.0,-1.0,0.0,1.8348756474779464,com,0,0,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,google,0
2,38,b'www.google.com.',0,0,1,10,google,0.0,-1.0,0.0,2.1142465351822795,com,0,0,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,google,0
3,299,b'www.google.com.',0,0,1,10,google,0.0,-1.0,0.0,2.1142465351822795,com,0,0,0.0,0,"[('google.com', 100), ('google.com.br', 95)]",0,google,0
4,96,b'facebook.com.',0,0,0,9,facebook,0.0,-1.0,0.0,2.5954888901709436,com,0,0,0.0,0,"[('facebook.com', 100), ('qq.com', 86)]",0,facebook,0

In [142]:
combined_data_without_nan.tail()

,TTL,Domain,hex_32,hex_8,subdomain,len,longest_word,oc_32,shortened,obfuscate_at_sign,entropy,tld,dec_8,dec_32,numeric_percentage,puny_coded,typos,oc_8,sld,Label
499129,14399,b'naveenmechanical.com.',0,0,0,17,mechanical,0,-1.0,0,2.890279,com,0,0,0.0,0,"[('facebook.com', 86), ('twitter.com', 86)]",0,naveenmechanical,1
499130,3599,b'onlinefrepdfviewer.000webhostapp.com.',0,0,1,32,p,0,-1.0,0,3.808768,com,0,0,7.894737,0,"[('twitter.com', 86), ('google.com', 86)]",0,000webhostapp,1
499131,3599,b'onlinefrepdfviewer.000webhostapp.com.',0,0,1,32,p,0,-1.0,0,3.808768,com,0,0,7.894737,0,"[('twitter.com', 86), ('google.com', 86)]",0,000webhostapp,1
499132,1799,b'stefanie-bolemant.de.',0,0,0,18,stefanie,0,-1.0,0,3.340769,de,0,0,0.0,0,"[('google.de', 86), ('e-recht24.de', 86)]",0,stefanie-bolemant,1
499133,1799,b'web.asamnet.de.',0,0,1,11,mnet,0,-1.0,0,2.781301,de,0,0,0.0,0,"[('gesetze-im-internet.de', 86), ('web.de', 86)]",0,asamnet,1

In [221]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [222]:
combined_data_numeric = combined_data_without_nan.copy()

In [223]:
# convert 'Domain' column to numeric values
label_encoder = LabelEncoder()
combined_data_numeric['Domain'] = label_encoder.fit_transform(combined_data_without_nan['Domain'])

In [224]:
# convert 'longest_word' column to numeric values
combined_data_numeric['longest_word'] = label_encoder.fit_transform(combined_data_without_nan['longest_word'].astype(str))

In [225]:
# convert 'tld' column to numeric values
combined_data_numeric['tld'] = label_encoder.fit_transform(combined_data_without_nan['tld'])

In [226]:
# convert 'sld' column to numeric values
combined_data_numeric['sld'] = label_encoder.fit_transform(combined_data_without_nan['sld'])

In [220]:
# convert all fields to string
combined_data_numeric['oc_8'] = combined_data_numeric['oc_8'].astype(str)

In [231]:
# Inicjalizacja LabelEncodera
label_encoder = LabelEncoder()

# Dopasowanie LabelEncodera do danych w kolumnie 'oc_8'
label_encoder.fit(combined_data_numeric['oc_8'])

# Funkcja do zamiany wartoci w kolumnie 'oc_8' na numeryczne, jeli s typu 'str'
def encode_string_values(value):
    if isinstance(value, str):
        return label_encoder.transform([value])[0]
    return value  # Jeli to liczba cakowita, zostaw bez zmian

# Zastosowanie funkcji do kolumny 'oc_8'
combined_data_numeric['oc_8'] = combined_data_numeric['oc_8'].apply(encode_string_values)

TypeError: ignored

In [ ]:
# convert 'sld' column to numeric values
combined_data_numeric['oc_32'] = label_encoder.fit_transform(combined_data_without_nan['oc_32'])

In [187]:
# Funkcja do ekstrakcji danych z kolumny 'typos'
def extract_typos_info(typos_str, position):
    try:
        # Usu znaki '[' i ']' oraz podziel po przecinkach
        typos_list = typos_str.strip('[]').split(', ')
        # Wybierz pozycj z listy i usu ewentualne znaki "'" lub '"'
        info = typos_list[position].strip('\'"')

        # Usu znaki specjalne, takie jak ')'
        info = info.rstrip(')')

        return info
    except (IndexError, AttributeError, ValueError):
        return -1  # Zwraca -1, jeli dane nie s dostpne

# Stwrz nowe kolumny na podstawie kolumny 'typos'
combined_data_numeric['domain1'] = combined_data_numeric['typos'].apply(lambda x: extract_typos_info(x, 0))
combined_data_numeric['percentage1'] = combined_data_numeric['typos'].apply(lambda x: extract_typos_info(x, 1))
combined_data_numeric['domain2'] = combined_data_numeric['typos'].apply(lambda x: extract_typos_info(x, 2))
combined_data_numeric['percentage2'] = combined_data_numeric['typos'].apply(lambda x: extract_typos_info(x, 3))

# Jeli dane w kolumnach 'domain1' i 'domain2' zawieraj nawiasy i cudzysowia, usu je
combined_data_numeric['domain1'] = combined_data_numeric['domain1'].apply(lambda x: x.lstrip('(\'"') if isinstance(x, str) else x)
combined_data_numeric['domain2'] = combined_data_numeric['domain2'].apply(lambda x: x.lstrip('(\'"') if isinstance(x, str) else x)

# Konwersja kolumn 'percentage1' i 'percentage2' na wartoci liczbowe
combined_data_numeric['percentage1'] = combined_data_numeric['percentage1'].astype(int)
combined_data_numeric['percentage2'] = combined_data_numeric['percentage2'].astype(int)

# Usu kolumn 'typos'
combined_data_numeric.drop('typos', axis=1, inplace=True)

# Wywietlenie pocztkowych wierszy z nowymi kolumnami
print(combined_data_numeric[['domain1', 'percentage1', 'domain2', 'percentage2']].head(10))

        domain1  percentage1        domain2  percentage2
0    google.com          100  google.com.br           95
1    google.com          100  google.com.br           95
2    google.com          100  google.com.br           95
3    google.com          100  google.com.br           95
4  facebook.com          100         qq.com           86
5  facebook.com          100         qq.com           86
6  facebook.com          100         qq.com           86
7  facebook.com          100         qq.com           86
8  facebook.com          100         qq.com           86
9  facebook.com          100         qq.com           86

In [188]:
# Inicjalizacja LabelEncodera
label_encoder = LabelEncoder()

# Pocz dane z kolumn 'domain1' i 'domain2' w jedn list
domains = combined_data_numeric['domain1'].tolist() + combined_data_numeric['domain2'].tolist()

# Dopasuj LabelEncodera do unikalnych wartoci w domenach
label_encoder.fit(domains)

# Zamie stringi na wartoci numeryczne w kolumnach 'domain1' i 'domain2'
combined_data_numeric['domain1'] = label_encoder.transform(combined_data_numeric['domain1'])
combined_data_numeric['domain2'] = label_encoder.transform(combined_data_numeric['domain2'])

# Wywietlenie pocztkowych wierszy z przeksztaconymi kolumnami
print(combined_data_numeric[['domain1', 'percentage1', 'domain2', 'percentage2']].head(10))

   domain1  percentage1  domain2  percentage2
0      194          100      196           95
1      194          100      196           95
2      194          100      196           95
3      194          100      196           95
4      154          100      345           86
5      154          100      345           86
6      154          100      345           86
7      154          100      345           86
8      154          100      345           86
9      154          100      345           86

In [189]:
combined_data_numeric.head(10)

,TTL,Domain,hex_32,hex_8,subdomain,len,longest_word,oc_32,shortened,obfuscate_at_sign,entropy,tld,dec_8,dec_32,numeric_percentage,puny_coded,oc_8,sld,Label,domain1,percentage1,domain2,percentage2
0,46,85484,0,0,0,7,12398,0.0,-1.0,0.0,1.8348756474779464,30222,0,0,0.0,0,0,64022,0,194,100,196,95
1,299,85484,0,0,0,7,12398,0.0,-1.0,0.0,1.8348756474779464,30222,0,0,0.0,0,0,64022,0,194,100,196,95
2,38,255735,0,0,1,10,12398,0.0,-1.0,0.0,2.1142465351822795,30222,0,0,0.0,0,0,64022,0,194,100,196,95
3,299,255735,0,0,1,10,12398,0.0,-1.0,0.0,2.1142465351822795,30222,0,0,0.0,0,0,64022,0,194,100,196,95
4,96,70975,0,0,0,9,10238,0.0,-1.0,0.0,2.5954888901709436,30222,0,0,0.0,0,0,53086,0,154,100,345,86
5,264,70975,0,0,0,9,10238,0.0,-1.0,0.0,2.5954888901709436,30222,0,0,0.0,0,0,53086,0,154,100,345,86
6,299,70975,0,0,0,9,10238,0.0,-1.0,0.0,2.5954888901709436,30222,0,0,0.0,0,0,53086,0,154,100,345,86
7,299,70975,0,0,0,9,10238,0.0,-1.0,0.0,2.5954888901709436,30222,0,0,0.0,0,0,53086,0,154,100,345,86
8,3218,251005,0,0,1,12,10238,0.0,-1.0,0.0,2.723308333814104,30222,0,0,0.0,0,0,53086,0,154,100,345,86
9,3323,251005,0,0,1,12,10238,0.0,-1.0,0.0,2.723308333814104,30222,0,0,0.0,0,0,53086,0,154,100,345,86

In [198]:
combined_data_numeric.tail(100)

,TTL,Domain,hex_32,hex_8,subdomain,len,longest_word,oc_32,shortened,obfuscate_at_sign,entropy,tld,dec_8,dec_32,numeric_percentage,puny_coded,oc_8,sld,Label,domain1,percentage1,domain2,percentage2
499034,14399,151985,0,0,0,12,21849,0,-1.0,0,2.619549,30747,0,0,5.882353,0,0,113707,1,455,86,311,86
499035,3599,257991,0,0,1,19,33956,0,-1.0,0,3.247779,30222,0,0,8.0,0,0,69150,1,154,86,424,86
499036,299,218421,0,0,0,11,32455,0,-1.0,0,2.712675,30950,0,0,0.0,0,0,164022,1,256,51,257,48
499037,899,21694,0,0,0,15,2690,0,-1.0,0,3.246431,30319,0,0,0.0,0,0,16361,1,197,86,31,86
499038,3599,64126,0,0,1,29,22310,0,-1.0,0,3.784786,30222,0,0,8.571429,0,0,47,1,424,86,194,86
499039,3599,64126,0,0,1,29,22310,0,-1.0,0,3.784786,30222,0,0,8.571429,0,0,47,1,424,86,194,86
499040,599,137151,0,0,1,14,12019,0,-1.0,0,3.052909,30942,0,0,4.761905,0,0,17387,1,399,68,143,55
499041,599,208060,0,0,0,13,30980,0,-1.0,0,2.742338,30222,0,0,0.0,0,0,156223,1,194,86,39,86
499042,3599,19654,0,0,0,14,10727,0,-1.0,0,2.713274,30747,0,0,0.0,0,0,14840,1,455,86,285,86
499043,299,22157,0,0,0,14,19225,0,-1.0,0,2.963972,30669,0,0,0.0,0,0,16720,1,399,64,451,60
499044,14399,53741,0,0,0,24,15402,0,-1.0,0,3.184774,30234,0,0,0.0,0,0,40059,1,154,86,424,86
499045,14399,88180,0,0,0,12,16734,0,-1.0,0,2.556642,30222,0,0,0.0,0,0,66001,1,194,86,39,86
499046,599,152385,0,0,1,30,30909,0,-1.0,0,3.601172,30222,0,0,0.0,0,0,106636,1,345,86,453,86
499047,299,166763,0,0,0,6,24305,0,-1.0,0,2.154135,30165,0,0,0.0,0,0,124947,1,277,56,20,56
499048,14399,183875,0,0,0,13,27481,0,-1.0,0,3.108098,30222,0,0,0.0,0,0,137860,1,194,86,39,86
499049,14399,199692,0,0,0,14,18690,0,-1.0,0,2.821115,30222,0,0,0.0,0,0,149837,1,415,90,424,86
499050,299,214790,0,0,0,20,32804,0,-1.0,0,3.230343,30222,0,0,0.0,0,0,161196,1,154,86,424,86
499051,299,60326,0,0,0,22,25034,0,-1.0,0,3.55174,30222,0,0,0.0,0,0,45011,1,154,86,424,86
499052,14399,63633,0,0,0,18,20270,0,-1.0,0,3.229658,30222,0,0,0.0,0,0,47473,1,154,86,424,86
499053,21599,76477,0,0,0,14,11124,0,-1.0,0,2.767195,30228,0,0,0.0,0,0,57272,1,154,86,424,86
499054,1199,85952,0,0,0,11,33868,0,-1.0,0,2.781301,30222,0,0,0.0,0,0,64312,1,39,86,22,86
499055,14399,105487,0,0,1,28,26777,0,-1.0,0,3.765502,30222,0,0,0.0,0,0,162162,1,345,86,453,86
499056,599,123859,0,0,1,54,6047,0,-1.0,0,3.897476,30222,0,0,0.0,0,0,106835,1,345,86,453,86
499057,21599,132182,0,0,1,24,6256,0,-1.0,0,3.862469,30872,0,0,13.793103,0,0,34008,1,454,86,353,74
499058,21599,132182,0,0,1,24,6256,0,-1.0,0,3.862469,30872,0,0,13.793103,0,0,34008,1,454,86,353,74
499059,10799,138420,0,0,0,11,6564,0,-1.0,0,2.781301,30222,0,0,0.0,0,0,103704,1,398,90,39,86
499060,0,138420,0,0,0,11,6564,0,-1.0,0,2.781301,30222,0,0,0.0,0,0,103704,1,398,90,39,86
499061,203,259428,0,0,1,15,8497,0,-1.0,0,3.329439,30222,0,0,0.0,0,0,72407,1,194,86,39,86
499062,284,259428,0,0,1,15,8497,0,-1.0,0,3.329439,30222,0,0,0.0,0,0,72407,1,194,86,39,86
499063,299,162282,0,0,0,8,5370,0,-1.0,0,2.625,30444,0,0,0.0,0,0,121473,1,80,60,88,60
499064,299,195769,0,0,0,24,29526,0,-1.0,0,3.493521,30222,0,0,0.0,0,0,146830,1,154,86,424,86
499065,14399,206322,0,0,0,16,30761,0,-1.0,0,3.030639,30234,0,0,0.0,0,0,154870,1,154,86,424,86
499066,14399,306316,0,0,0,12,14401,0,-1.0,0,2.723308,30697,0,0,0.0,0,0,172880,1,104,86,334,86
499067,14399,302019,0,0,1,15,14401,0,-1.0,0,2.879113,30697,0,0,0.0,0,0,172880,1,104,86,334,86
499068,14399,302019,0,0,1,15,14401,0,-1.0,0,2.879113,30697,0,0,0.0,0,0,172880,1,104,86,334,86
499069,14399,306343,0,0,0,13,18480,0,-1.0,0,2.800406,30222,0,0,0.0,0,0,172900,1,194,86,39,86
499070,14399,302026,0,0,1,16,18480,0,-1.0,0,2.95282,30222,0,0,0.0,0,0,172900,1,194,86,39,86
499071,14399,302026,0,0,1,16,18480,0,-1.0,0,2.95282,30222,0,0,0.0,0,0,172900,1,194,86,39,86
499072,299,22869,0,0,0,9,5497,0,-1.0,0,1.928822,30444,0,0,0.0,0,0,17230,1,362,60,230,53
499073,14399,28770,0,0,0,18,5338,0,-1.0,0,3.382707,30222,0,0,0.0,0,0,21615,1,154,86,424,86
499074,599,30979,0,0,0,21,10393,0,-1.0,0,3.611731,30222,0,0,0.0,0,0,23330,1,154,86,424,86
499075,3599,60931,0,0,0,10,10403,0,-1.0,0,2.789735,30747,0,0,0.0,0,0,45455,1,455,86,311,86
499076,3599,247604,0,0,1,13,10403,0,-1.0,0,2.896184,30747,0,0,0.0,0,0,45455,1,455,86,311,86
499077,3599,247604,0,0,1,13,10403,0,-1.0,0,2.896184,30747,0,0,0.0,0,0,45455,1,455,86,311,86
499078,21599,67293,0,0,0,10,22660,0,-1.0,0,2.789735,30587,0,0,0.0,0,0,50238,1,321,54,56,52
499079,14399,95151,0,0,0,9,5648,0,-1.0,0,2.373267,30697,0,0,0.0,0,0,71143,1,334,86,11,86
499080,299,134163,0,0,0,13,30601,0,-1.0,0,2.800406,30222,0,0,0.0,0,0,100394,1,194,86,39,86
499081,299,149525,0,0,0,10,142,0,-1.0,0,2.514247,30868,0,0,0.0,0,0,111839,1,267,56,121,52
499082,298,149525,0,0,0,10,142,0,-1.0,0,2.514247,30868,0,0,0.0,0,0,111839,1,267,56,121,52
499083,14399,172717,0,0,0,19,4925,0,-1.0,0,3.353043,30222,0,0,0.0,0,0,129360,1,154,86,424,86
499084,14399,182026,0,0,0,9,1707,0,-1.0,0,2.151044,30189,0,0,0.0,0,0,136451,1,398,86,51,86
499085,21599,306582,0,0,0,6,16490,0,-1.0,0,2.154135,30222,0,0,0.0,0,0,173082,1,345,86,453,86
499086,21599,302090,0,0,1,9,16490,0,-1.0,0,2.28939,30222,0,0,0.0,0,0,173082,1,345,86,453,86
499087,14399,52308,0,0,0,11,6168,0,-1.0,0,2.712675,30234,0,0,0.0,0,0,39038,1,424,86,194,86
499088,14399,52646,0,0,0,11,25429,0,-1.0,0,2.781301,30174,0,0,0.0,0,0,39286,1,383,57,113,52
499089,599,65240,0,0,0,15,33478,0,-1.0,0,3.379765,30978,0,0,0.0,0,0,48730,1,229,86,433,57
499090,299,181024,0,0,1,14,27926,0,-1.0,0,3.10683,30222,0,0,15.0,0,0,169189,1,477,100,345,86
499091,299,181024,0,0,1,14,27926,0,-1.0,0,3.10683,30222,0,0,15.0,0,0,169189,1,477,100,345,86
499092,299,181024,0,0,1,14,27926,0,-1.0,0,3.10683,30222,0,0,15.0,0,0,169189,1,477,100,345,86
499093,299,181024,0,0,1,14,27926,0,-1.0,0,3.10683,30222,0,0,15.0,0,0,169189,1,477,100,345,86
499094,14399,175130,0,0,0,10,25951,0,-1.0,0,2.589735,30234,0,0,0.0,0,0,131197,1,194,86,39,86
499095,14399,212790,0,0,0,11,25958,0,-1.0,0,2.712675,30222,0,0,0.0,0,0,159759,1,39,86,22,86
499096,14399,212790,0,0,0,11,25958,0,-1.0,0,2.712675,30222,0,0,0.0,0,0,159759,1,39,86,22,86
499097,59,218236,0,0,0,15,32435,0,-1.0,0,2.979765,30978,0,0,0.0,0,0,163873,1,229,86,398,68
499098,3599,120020,0,0,1,21,22310,0,-1.0,0,3.539837,30222,0,0,14.814815,0,0,47,1,424,86,194,86
499099,3599,120020,0,0,1,21,22310,0,-1.0,0,3.539837,30222,0,0,14.814815,0,0,47,1,424,86,194,86
499100,1799,204868,0,0,0,18,13380,0,-1.0,0,3.118547,30222,0,0,0.0,0,0,153771,1,154,86,424,86
499101,14399,22034,0,0,0,20,27291,0,-1.0,0,3.230343,30222,0,0,0.0,0,0,16624,1,450,90,154,86
499102,59,47240,0,0,0,16,6657,0,-1.0,0,2.95282,30222,0,0,0.0,0,0,35251,1,154,86,424,86
499103,3599,64127,0,0,1,30,22310,0,-1.0,0,3.655688,30222,0,0,8.333333,0,0,47,1,424,86,194,86
499104,3599,109638,0,0,0,16,15004,0,-1.0,0,3.125,30222,0,0,0.0,0,0,81700,1,154,86,424,86
499105,599,117652,0,0,1,14,12019,0,-1.0,0,3.392544,30942,0,0,4.761905,0,0,17387,1,399,68,143,55
499106,299,131443,0,0,0,17,6538,0,-1.0,0,3.376436,30228,0,0,0.0,0,0,98367,1,404,90,154,86
499107,14399,146648,0,0,0,12,21152,0,-1.0,0,2.952882,30222,0,0,0.0,0,0,109745,1,194,86,39,86
499108,299,165979,0,0,0,14,24186,0,-1.0,0,2.767195,30222,0,0,0.0,0,0,124329,1,424,86,194,86
499109,14399,193238,0,0,0,11,29072,0,-1.0,0,2.781301,30222,0,0,0.0,0,0,144948,1,39,86,22,86
499110,14399,243342,0,0,1,20,6658,0,-1.0,0,3.230343,30222,0,0,0.0,0,0,35253,1,154,86,424,86
499111,14399,243342,0,0,1,20,6658,0,-1.0,0,3.230343,30222,0,0,0.0,0,0,35253,1,154,86,424,86
499112,14399,47242,0,0,0,17,6658,0,-1.0,0,3.096736,30222,0,0,0.0,0,0,35253,1,154,86,424,86
499113,21599,194729,0,0,0,23,25103,0,-1.0,0,3.424499,30222,0,0,0.0,0,0,146063,1,154,86,424,86
499114,3599,213280,0,0,0,8,31716,0,-1.0,0,2.375,30125,0,0,0.0,0,0,160138,1,13,46,60,43
499115,599,43296,0,0,1,14,12019,0,-1.0,0,2.910052,30942,0,0,0.0,0,0,17387,1,399,68,143,55
499116,3599,128902,0,0,0,12,18699,0,-1.0,0,3.119549,30209,0,0,0.0,0,0,96417,1,398,86,51,86
499117,3599,128902,0,0,0,12,18699,0,-1.0,0,3.119549,30209,0,0,0.0,0,0,96417,1,398,86,51,86
499118,599,143636,0,0,1,14,12019,0,-1.0,0,2.713274,30942,0,0,0.0,0,0,17387,1,399,68,143,55
499119,299,26296,0,0,0,8,32103,0,-1.0,0,2.625,30222,0,0,0.0,0,0,19862,1,345,86,453,86
499120,299,26296,0,0,0,8,32103,0,-1.0,0,2.625,30222,0,0,0.0,0,0,19862,1,345,86,453,86
499121,299,26296,0,0,0,8,32103,0,-1.0,0,2.625,30222,0,0,0.0,0,0,19862,1,345,86,453,86
499122,299,26296,0,0,0,8,32103,0,-1.0,0,2.625,30222,0,0,0.0,0,0,19862,1,345,86,453,86
499123,1799,70972,0,0,1,65,18027,0,-1.0,0,3.927287,30222,0,0,12.676056,0,0,118695,1,345,86,453,86
499124,1799,70973,0,0,1,65,18027,0,-1.0,0,3.988825,30222,0,0,12.676056,0,0,118695,1,345,86,453,86
499125,3599,84232,0,0,0,10,12251,0,-1.0,0,2.314247,30747,0,0,0.0,0,0,63154,1,455,86,311,86
499126,3598,84232,0,0,0,10,12251,0,-1.0,0,2.314247,30747,0,0,0.0,0,0,63154,1,455,86,311,86
499127,3599,255312,0,0,1,13,12251,0,-1.0,0,2.530423,30747,0,0,0.0,0,0,63154,1,455,86,311,86
499128,3599,109420,0,0,1,22,22310,0,-1.0,0,3.642649,30222,0,0,17.857143,0,0,47,1,424,86,194,86
499129,14399,142342,0,0,0,17,19088,0,-1.0,0,2.890279,30222,0,0,0.0,0,0,106657,1,154,86,424,86
499130,3599,152347,0,0,1,32,22310,0,-1.0,0,3.808768,30222,0,0,7.894737,0,0,47,1,424,86,194,86
499131,3599,152347,0,0,1,32,22310,0,-1.0,0,3.808768,30222,0,0,7.894737,0,0,47,1,424,86,194,86
499132,1799,192846,0,0,0,18,28975,0,-1.0,0,3.340769,30319,0,0,0.0,0,0,144651,1,197,86,133,86
499133,1799,222028,0,0,1,11,19785,0,-1.0,0,2.781301,30319,0,0,0.0,0,0,12240,1,175,86,460,86

In [127]:
# 2. Podzielenie na funkcje (X) i etykiety (y)
#X = X_encoded.drop('Label', axis=1)
#y = X_encoded['Label']

# 3. Podzielenie danych na zbir treningowy i testowy
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. Przygotowanie modelu (tu uywamy RandomForestClassifier jako przykad)
#model = RandomForestClassifier(n_estimators=100, random_state=42)

# 5. Trenowanie modelu
#model.fit(X_train, y_train)

# 6. Ocena modelu
#y_pred = model.predict(X_test)
#accuracy = accuracy_score(y_test, y_pred)
#report = classification_report(y_test, y_pred)

#print(f'Dokadno modelu: {accuracy}')
#print('Raport klasyfikacji:\n', report)

In [172]:
X = combined_data_numeric.drop('Label', axis=1)  # Usuwamy kolumn 'Label' jako zmienn docelow
Y = combined_data_numeric['Label']  # Przypisujemy kolumn 'Label' jako zmienn docelow

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [173]:
# Inicjalizacja i trening modelu RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators=100 ,random_state=2)
rf_classifier.fit(X_train, Y_train)

ValueError: ignored

In [ ]:
# Predykcja na zbiorze testowym
test_data_prediction = rf_classifier.predict(X_test)

In [ ]:
# Ocena jakoci modelu
accuracy = accuracy_score(Y_test, test_data_prediction)
print(f"Dokadno modelu: {accuracy:.2f}")

In [199]:
# Teraz sprawdzenie, ktre wartoci w kolumnie 'Domain' nie s liczbami
non_numeric_domains = combined_data_numeric[~combined_data_numeric['oc_32'].str.isnumeric()]['oc_32'].unique()

# Wywietlenie tych wartoci
for domain in non_numeric_domains:
    print(domain)

TypeError: ignored

In [227]:
# Sprawdzenie typw danych w kolumnie 'Domain' i zliczenie wystpie
domain_data_types = combined_data_numeric['oc_8'].apply(type).value_counts()

# Wywietlenie wynikw
print(domain_data_types)

<class 'str'>    490568
<class 'int'>      4938
Name: oc_8, dtype: int64

In [ ]:
TTL	Domain	hex_32	hex_8	subdomain	len	longest_word	oc_32	shortened	obfuscate_at_sign	entropy	tld	dec_8	dec_32	numeric_percentage	puny_coded	oc_8	sld	Label	domain1	percentage1	domain2	percentage2

In [201]:
# Wywietlenie tych wartoci
for value in combined_data_numeric['oc_32']:
    print(value)

Strumieniowane dane wyjciowe obcite do 5000ostatnich wierszy.
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sov
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
montessori
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
insider
insider
insider
0
0
0
0
0
online
online
online
gate
gate
gate
gate
overleaf
overleaf
overleaf
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
lb
lb
0
0
0
0
0
0
0
0
0
0
0
0
0
0
venture
0
0
0
0
0
0
0
0
0
0
0
hotel
hotel
hotel
hotel
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
cheap
cheap
cheap
cheap
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
gangs
gangs
0
gangs
0
gangs
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
ce
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
cemetery
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
peru
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
disability
disability
disability
disability
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
recipes
0
0
0
0
0
0
0
0
0
0
0
0
iphone
iphone
iphone
iphone
iphone
iphone
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
tank
0
0
0
0
0
0
0
0
0
0
0
wrestling
wrestling
wrestling
wrestling
wrestling
wrestling
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
vintage
0
0
0
city
city
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
flathead
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
playground
playground
playground
playground
0
0
0
0
news
news
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
website
website
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sound
sound
sound
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
circulate
0
0
furious
furious
furious
0
0
0
0
0
0
0
0
0
0
0
0
0
dom
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
xp
xp
xp
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sale
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
windows
windows
windows
chicago
chicago
chicago
chicago
chicago
chicago
0
0
0
0
0
0
ride
ride
ride
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
info
info
info
info
info
info
info
info
0
0
0
0
0
0
0
0
0
rigorous
rigorous
rigorous
rigorous
rigorous
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sesame
0
sesame
0
0
0
0
0
0
event
event
event
event
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
nerd
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
die
die
die
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
miner
miner
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
vibrators
vibrators
vibrators
vibrators
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
emanuel
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
biometric
biometric
biometric
biometric
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
patrick
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
zak
zak
0
0
0
0
0
0
0
hollywood
hollywood
hollywood
hollywood
0
0
0
0
0
0
0
0
0
0
0
0
0
services
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
coed
coed
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
forum
ews
0
0
0
0
0
0
0
0
0
0
0
0
0
shops
shops
shops
shops
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
inhaler
inhaler
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
learns
0
0
0
0
0
0
0
0
0
0
0
0
rrr
rrr
0
0
0
0
0
0
0
0
0
0
shree
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
land
land
0
0
0
0
0
news
0
0
0
0
0
0
0
0
0
peoples
line
0
0
0
spaces
spaces
spaces
spaces
0
0
0
0
0
0
0
0
0
0
0
suburban
tribune
tribune
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
thirty
thirty
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
chop
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
dale
dale
0
leads
0
0
0
0
0
0
0
0
0
0
0
0
0
cool
cool
cool
cool
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
interest
interest
interest
0
0
0
0
0
0
0
0
0
0
0
0
durango
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
rune
rune
rune
rune
rune
0
0
rune
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
finance
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sols
sols
0
0
0
0
0
post
post
post
0
dark
dark
0
0
0
0
0
themes
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
ic
ic
ic
ic
0
0
0
0
0
test
0
test
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
compassionate
compassionate
0
compassionate
0
0
0
en
en
0
0
0
0
0
0
0
0
0
0
0
0
help
help
help
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
first
obama
obama
obama
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
send
0
0
0
0
0
0
0
0
0
0
0
0
0
0
vancouver
vancouver
0
0
0
0
0
0
0
gerber
gerber
gerber
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
american
american
american
american
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
hrs
0
0
0
0
0
0
0
0
midway
midway
midway
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
theodor
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
store
store
store
store
cheap
cheap
cheap
cheap
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
clip
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
now
now
now
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
inter
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
sports
sports
sports
mlb
mlb
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
code
code
0
code
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
gou
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
something
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
hwa
0
0
0
0
0
0
0
0
0
0
0
0
margarita
margarita
margarita
margarita
0
0
0
0
0
0
0
0
0
0
0
passionate
passionate
passionate
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
cochrane
cochrane
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
net
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
aviation
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
dvd
dvd
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
socialite
0
socialite
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
force
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
alpine
alpine
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
synopsis
synopsis
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
originals
originals
originals
originals
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
media
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
staff
staff
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
seed
seed
seed
seed
0
0
c
0
0
0
0
0
alliance
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
cot
cot
cot
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
clips
0
0
0
replica
replica
replica
replica
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
american
american
american
american
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
everything
pepsi
pepsi
pepsi
pepsi
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
tk
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
kino
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
press
press
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
ping
mind
0
mind
mind
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
wingspan
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
cruises
cruises
cruises
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
trading
trading
trading
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
practical
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
network
0
mf
mf
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
nothing
0
0
0
0
0
0
0
0
0

KeyboardInterrupt: ignored

In [175]:
is_amino_present = 'b\'amino-cn.com.\'' in combined_data_numeric['Domain'].values
if is_amino_present:
    print("Znaleziono 'b'amino-cn.com.' w kolumnie 'Domain'")
else:
    print("Nie znaleziono 'b'amino-cn.com.' w kolumnie 'Domain'")

Nie znaleziono 'b'amino-cn.com.' w kolumnie 'Domain'

<ipython-input-175-a11beb9bb908>:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  is_amino_present = 'b\'amino-cn.com.\'' in combined_data_numeric['Domain'].values